USE [thuephong]
GO
/****** Object:  Table [dbo].[HopDongThuePhong]    Script Date: 8/15/2025 7:09:15 PM @@@@ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongThuePhong](
	[MaHopDong] [nvarchar](50) NOT NULL,
	[MaPhong] [nvarchar](10) NOT NULL,
	[MaKhach] [nvarchar](10) NOT NULL,
	[NgayThuePhong] [date] NOT NULL,
	[SoNgayThue] [int] NOT NULL,
	[TienThuePhong] [money] NOT NULL,
 CONSTRAINT [PK_HopDongThuePhong] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachThuePhong]    Script Date: 8/15/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachThuePhong](
	[MaKhach] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[DiDong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachThuePhong] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChoThue]    Script Date: 8/15/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChoThue](
	[MaPhong] [nvarchar](10) NOT NULL,
	[DienTich] [numeric](10, 2) NOT NULL,
	[SoGiuong] [int] NOT NULL,
	[LoaiGiuong] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PhongChoThue] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HopDongThuePhong] ([MaHopDong], [MaPhong], [MaKhach], [NgayThuePhong], [SoNgayThue], [TienThuePhong]) VALUES (N'HD001', N'102', N'KH01', CAST(N'2024-01-15' AS Date), 1, 750000.0000)
INSERT [dbo].[HopDongThuePhong] ([MaHopDong], [MaPhong], [MaKhach], [NgayThuePhong], [SoNgayThue], [TienThuePhong]) VALUES (N'HD002', N'101', N'KH02', CAST(N'2024-01-15' AS Date), 2, 600000.0000)
INSERT [dbo].[HopDongThuePhong] ([MaHopDong], [MaPhong], [MaKhach], [NgayThuePhong], [SoNgayThue], [TienThuePhong]) VALUES (N'HD003', N'202', N'KH03', CAST(N'2024-01-25' AS Date), 3, 1500000.0000)
GO
INSERT [dbo].[KhachThuePhong] ([MaKhach], [HoTen], [GioiTinh], [DiDong]) VALUES (N'KH01', N'Lưu Thi Thi', N'Nữ', N'0985287452')
INSERT [dbo].[KhachThuePhong] ([MaKhach], [HoTen], [GioiTinh], [DiDong]) VALUES (N'KH02', N'Diệp Trúc Anh', N'Nữ', N'0986325709')
INSERT [dbo].[KhachThuePhong] ([MaKhach], [HoTen], [GioiTinh], [DiDong]) VALUES (N'KH03', N'Mai Hồng Vũ', N'Nam', N'0983251879')
GO
INSERT [dbo].[PhongChoThue] ([MaPhong], [DienTich], [SoGiuong], [LoaiGiuong]) VALUES (N'101', CAST(16.00 AS Numeric(10, 2)), 1, N'Giường đôi')
INSERT [dbo].[PhongChoThue] ([MaPhong], [DienTich], [SoGiuong], [LoaiGiuong]) VALUES (N'102', CAST(20.00 AS Numeric(10, 2)), 2, N'Giường đôi')
INSERT [dbo].[PhongChoThue] ([MaPhong], [DienTich], [SoGiuong], [LoaiGiuong]) VALUES (N'103', CAST(20.00 AS Numeric(10, 2)), 2, N'Giường đôi')
GO
ALTER TABLE [dbo].[HopDongThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_HopDongThuePhong_KhachThuePhong] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachThuePhong] ([MaKhach])
GO
ALTER TABLE [dbo].[HopDongThuePhong] CHECK CONSTRAINT [FK_HopDongThuePhong_KhachThuePhong]
GO
ALTER TABLE [dbo].[HopDongThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_HopDongThuePhong_PhongChoThue] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongChoThue] ([MaPhong])
GO
ALTER TABLE [dbo].[HopDongThuePhong] CHECK CONSTRAINT [FK_HopDongThuePhong_PhongChoThue]
GO

--Câu 3 Hiển thị mã phòng, số giường, loại giường, số ngày thuê và tiền thuê phòng của những phòng được thuê bởi khách hàng có họ tên là Diệp Trúc Anh.
select p.MaPhong, SoGiuong, LoaiGiuong, SoNgayThue, TienThuePhong
from PhongChoThue as p  inner join HopDongThuePhong as h on p.MaPhong=h.MaPhong
	 inner join KhachThuePhong as k on h.MaKhach=k.MaKhach
where k.HoTen = N'Diệp Trúc Anh'
--cÂU 4 Hãy cho biết họ tên, giới tính và số di động của những khách hàng có số di động bắt đầu bởi 098, kết thúc bởi số 1 hoặc số 9 và có hợp đồng thuê phòng trong khoảng thời gian từ tháng 1 đến tháng 4 năm 2024.
SELECT
FROM 
--Câu 5Hãy cho biết mã phòng, số giường, loại giường, ngày thuê phòng, số ngày thuê và tiền thuê phòng của các phòng có mã phòng sau đây: 201, 202, 203 và 301. Kết quả sắp xếp theo thứ tự giảm dần của ngày  thuê phòng.

--Câu 6 cho bt thông tin của các phòng mà ko có hợp đồng thuê phòng trg tháng 1 năm 2024
SELECT *
FROM PhongChoThue 
WHERE MaPhong NOT IN(SELECT DISTINCT MaPhong
					FROM HopDongThuePhong
					WHERE NgayThuePhong BETWEEN '2024-01-01'AND '2024-01-31')