USE [csdlbanhang]
GO
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 8/15/2025 7:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[SOHOADON] [int] NOT NULL,
	[MAHANG] [nvarchar](10) NOT NULL,
	[GIABAN] [money] NOT NULL,
	[SOLUONG] [smallint] NOT NULL,
	[MUCGIAMGIA] [real] NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 8/15/2025 7:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[SOHOADON] [int] NOT NULL,
	[MAKHACHHANG] [nvarchar](10) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[NGAYDATHANG] [smalldatetime] NULL,
	[NGAYGIAOHANG] [smalldatetime] NULL,
	[NGAYCHUYENHANG] [smalldatetime] NULL,
	[NOIGIAOHANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/15/2025 7:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nvarchar](10) NOT NULL,
	[TENCONGTY] [nvarchar](50) NOT NULL,
	[TENGIAODICH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[EMAIL] [nvarchar](30) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[FAX] [nvarchar](20) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 8/15/2025 7:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAHANG] [nvarchar](10) NOT NULL,
	[TENHANG] [nvarchar](50) NOT NULL,
	[MACONGTY] [nvarchar](10) NULL,
	[MALOAIHANG] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](20) NULL,
	[GIAHANG] [money] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 8/15/2025 7:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MACONGTY] [nvarchar](10) NOT NULL,
	[TENCONGTY] [nvarchar](40) NOT NULL,
	[TENGIAODICH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[FAX] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[MACONGTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/15/2025 7:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [nvarchar](10) NOT NULL,
	[HO] [nvarchar](20) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[NGAYLAMVIEC] [datetime] NULL,
	[DIACHI] [nvarchar](60) NULL,
	[DIENTHOAI] [nvarchar](24) NULL,
	[LUONGCOBAN] [money] NULL,
	[PHUCAP] [real] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (3, N'H03', 5000.0000, 12, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (3, N'H21', 7000.0000, 30, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (4, N'H20', 9000.0000, 20, 0)
GO
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (1, N'KH7', N'NV2', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-08-22T00:00:00' AS SmallDateTime), CAST(N'1996-08-12T00:00:00' AS SmallDateTime), N'1')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (2, N'KH5', N'NV8', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-09-09T00:00:00' AS SmallDateTime), CAST(N'1996-08-16T00:00:00' AS SmallDateTime), N'2')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (3, N'KH5', N'NV2', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-09-11T00:00:00' AS SmallDateTime), CAST(N'1996-09-12T00:00:00' AS SmallDateTime), N'1')
GO
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH1', N'CNTT', N'Phong', N'Obere Str. 57', N'Germany', N'030-0074321', N'030-0076545')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH2', N'CNTT', N'Hoang Ha', N'Avda. de la Constitución 2222', N'Mexico', N'(5) 555-4729', N'(5) 555-3745')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH3', N'ABC', N'ABC', N'Mataderos  2312', N'Mexico', N'(5) 555-3932', NULL)
GO
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H01', N'sữa hộp', N'CT1', 1, 100, N'hộp', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H02', N'Mì ăn liền', N'CT1', 1, 35, N'Thùng', 1500.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H03', N'Coca-cola', N'CT2', 1, 46, N'lon', 5000.0000)
GO
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT1', N'Công ty A', N'A', N'AAA', N'821111', NULL, NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT2', N'Công ty B', N'B', N'BBB', N'822222', NULL, NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT3', N'Công ty C', N'C', N'CCc', N'823333', NULL, NULL)
GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV1', N'Tran', N'A', CAST(N'1948-12-08T00:00:00.000' AS DateTime), CAST(N'1992-05-01T00:00:00.000' AS DateTime), N'507 - 20th Ave. E.
Apt. 2A', N'(206) 555-9857', 680000.0000, 100000)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV2', N'Nguyen', N'B', CAST(N'1952-02-19T00:00:00.000' AS DateTime), CAST(N'1992-08-14T00:00:00.000' AS DateTime), N'908 W. Capital Way', N'(206) 555-9482', 1200000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV3', N'Le Thi', N'C', CAST(N'1963-08-30T00:00:00.000' AS DateTime), CAST(N'1992-04-01T00:00:00.000' AS DateTime), N'722 Moss Bay Blvd.', N'(206) 555-3412', 800000.0000, NULL)
GO
ALTER TABLE [dbo].[CHITIETDATHANG] ADD  CONSTRAINT [DF_Order_Details_UnitPrice]  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[CHITIETDATHANG] ADD  CONSTRAINT [DF_Order_Details_Quantity]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETDATHANG] ADD  CONSTRAINT [DF_Order_Details_Discount]  DEFAULT ((0)) FOR [MUCGIAMGIA]
GO
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [GIAHANG]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Order Details_Orders] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[DONDATHANG] ([SOHOADON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_Order Details_Orders]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Order Details_Products] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MATHANG] ([MAHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_Order Details_Products]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[MATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([MACONGTY])
REFERENCES [dbo].[NHACUNGCAP] ([MACONGTY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
--Mã hàng, tên hàng và số lượng mặt hàng hiện có trg công ty
SELECT MAHANG, TENHANG, SOLUONG
FROM MATHANG

--Hiển thị mã hàng, số lượng, giá bán, thành tiền của các mặt hàng trg công ty, trg đó thành tiền =số lượng *giá bán
SELECT MAHANG, SOLUONG, GIABAN, SOLUONG*GIABAN AS THANHTIEN
FROM CHITIETDATHANG

--Hiển thị mã hàng, tên hàng, số lượng, giá hàng của mỗi mặt hàng
SELECT MAHANG, TENHANG, SOLUONG, GIAHANG
FROM MATHANG

--Hiển thị mã hàng, số lượng, giá bán thành tiền của mỗi mặt hàng biết rằng thành tiền= soluong*giaban-soluong*giaban*mucgiamgia/100
SELECT MAHANG, SOLUONG, GIABAN, SOLUONG*GIABAN-SOLUONG*GIABAN*MUCGIAMGIA/100 AS THANHTIEN
FROM CHITIETDATHANG

--*Nối 2 bảng
--Hiển thị mã hàng, tên hàng, số lượng, giá bán thành tiền của mỗi mặt hàng biết rằng thành tiền= soluong*giaban-soluong*giaban*mucgiamgia/100
SELECT MATHANG.MAHANG, TENHANG, CHITIETDATHANG.SOLUONG, GIABAN, CHITIETDATHANG.SOLUONG*GIABAN-CHITIETDATHANG.SOLUONG*GIABAN*MUCGIAMGIA/100 AS THANHTIEN
FROM MATHANG INNER JOIN CHITIETDATHANG ON MATHANG.MAHANG = CHITIETDATHANG.MAHANG

--cho bt mỗi mặt hàng trg cty do ai cung cấp
SELECT MAHANG, TENHANG, SOLUONG, TENCONGTY, GIAHANG
FROM MATHANG INNER JOIN NHACUNGCAP ON NHACUNGCAP.MACONGTY = MATHANG.MACONGTY

--*Nối 3 bảng
--cho bt họ, tên nhân viên cung cấp các mã hàng, số lượng, giá bán bao nhiêu
SELECT HO, TEN, MAHANG, SOLUONG, GIABAN
FROM NHANVIEN AS nv INNER JOIN DONDATHANG AS ddh ON nv.MANHANVIEN = ddh.MANHANVIEN
					INNER JOIN CHITIETDATHANG AS ctdh ON ddH.SOHOADON = ctdh.SOHOADON

					SELECT MATHANG.MAHANG, TENHANG, SUM(CHITIETDATHANG.SOLUONG)
FROM MATHANG INNER JOIN CHITIETDATHANG ON MATHANG.MAHANG=CHITIETDATHANG.MAHANG
GROUP BY MATHANG.MAHANG, TENHANG
--hãy cho bt tổng số tiền mà công ty thu đc từ mỗi măth hàng trg năm 2017
SELECT mh.MAHANG, TENHANG, tongtien=SUM(ct.SOLUONG*GIABAN-ct.SOLUONG*GIABAN*MUCGIAMGIA/100)
FROM MATHANG AS mh INNER JOIN CHITIETDATHANG AS ct ON mh.MAHANG = ct.MAHANG
	INNER JOIN DONDATHANG AS d ON ct.SOHOADON=d.SOHOADON
WHERE YEAR(d.NGAYDATHANG)=2017
GROUP BY mh.MAHANG, TENHANG
--hãy cho bt tổng số tiền mà công ty thu đc từ mỗi măth hàng trg năm 2017 va tổng tiên lớn hơn 10000
SELECT mh.MAHANG, TENHANG, tien=SUM(ct.SOLUONG*GIABAN-ct.SOLUONG*GIABAN*MUCGIAMGIA/100)
FROM MATHANG AS mh INNER JOIN CHITIETDATHANG AS ct ON mh.MAHANG = ct.MAHANG
	INNER JOIN DONDATHANG AS d ON ct.SOHOADON=d.SOHOADON
WHERE YEAR(d.NGAYDATHANG)=2017
GROUP BY mh.MAHANG, TENHANG
HAVING SUM(ct.SOLUONG*GIABAN-ct.SOLUONG*GIABAN*MUCGIAMGIA/100)>=10000
--cho bt mặt hàng nào bán ra vs số  lượng nhiều nhất
SELECT MATHANG.MAHANG, TENHANG, SUM(CHITIETDATHANG.SOLUONG)
FROM MATHANG INNER JOIN CHITIETDATHANG ON MATHANG.MAHANG=CHITIETDATHANG.MAHANG
GROUP BY MATHANG.MAHANG, TENHANG
HAVING  SUM(CHITIETDATHANG.SOLUONG)>= ALL(SELECT SUM(CHITIETDATHANG.SOLUONG)
										  FROM MATHANG INNER JOIN CHITIETDATHANG ON MATHANG.MAHANG=CHITIETDATHANG.MAHANG
										  GROUP BY MATHANG.MAHANG, TENHANG)
--cho bt mặt hàng nào bán ra vs số  lượng ÍT nhất
SELECT MATHANG.MAHANG, TENHANG, SUM(CHITIETDATHANG.SOLUONG)
FROM MATHANG INNER JOIN CHITIETDATHANG ON MATHANG.MAHANG=CHITIETDATHANG.MAHANG
GROUP BY MATHANG.MAHANG, TENHANG
HAVING  SUM(CHITIETDATHANG.SOLUONG)<= ALL(SELECT SUM(CHITIETDATHANG.SOLUONG)
										  FROM MATHANG INNER JOIN CHITIETDATHANG ON MATHANG.MAHANG=CHITIETDATHANG.MAHANG
										  GROUP BY MATHANG.MAHANG, TENHANG)