USE [thuexe]
GO
/****** Object:  Table [dbo].[HopDongThueXe]    Script Date: 8/15/2025 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongThueXe](
	[MaHopDong] [nvarchar](50) NOT NULL,
	[MaKhach] [nvarchar](10) NOT NULL,
	[BienSoXe] [nvarchar](10) NOT NULL,
	[NgayThueXe] [date] NOT NULL,
	[SoKMDaDi] [int] NOT NULL,
	[SoTienThueXe] [money] NOT NULL,
 CONSTRAINT [PK_HopDongThueXe] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachThueXe]    Script Date: 8/15/2025 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachThueXe](
	[MaKhach] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiDong] [nvarchar](50) NOT NULL,
	[Tinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachThueXe] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XeChoThue]    Script Date: 8/15/2025 7:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XeChoThue](
	[BienSoXe] [nvarchar](10) NOT NULL,
	[LoaiXe] [nvarchar](50) NOT NULL,
	[HangSanXuat] [nvarchar](50) NOT NULL,
	[SoChoNgoi] [int] NOT NULL,
 CONSTRAINT [PK_XeChoThue] PRIMARY KEY CLUSTERED 
(
	[BienSoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HopDongThueXe] ([MaHopDong], [MaKhach], [BienSoXe], [NgayThueXe], [SoKMDaDi], [SoTienThueXe]) VALUES (N'HD001', N'KH01', N'75A15505', CAST(N'2024-01-23' AS Date), 80, 2500000.0000)
INSERT [dbo].[HopDongThueXe] ([MaHopDong], [MaKhach], [BienSoXe], [NgayThueXe], [SoKMDaDi], [SoTienThueXe]) VALUES (N'HD002', N'KH02', N'75A20415', CAST(N'2024-01-30' AS Date), 120, 3000000.0000)
INSERT [dbo].[HopDongThueXe] ([MaHopDong], [MaKhach], [BienSoXe], [NgayThueXe], [SoKMDaDi], [SoTienThueXe]) VALUES (N'HD003', N'KH03', N'43A10529', CAST(N'2024-02-15' AS Date), 100, 2500000.0000)
GO
INSERT [dbo].[KhachThueXe] ([MaKhach], [HoTen], [DiDong], [Tinh]) VALUES (N'KH01', N'Lưu Thi Thi', N'0935287452', N'Thừa Thiên Huế')
INSERT [dbo].[KhachThueXe] ([MaKhach], [HoTen], [DiDong], [Tinh]) VALUES (N'KH02', N'Diệp Trúc Anh', N'0986325709', N'Quảng Nam ')
INSERT [dbo].[KhachThueXe] ([MaKhach], [HoTen], [DiDong], [Tinh]) VALUES (N'KH03', N'Mai Hồng Vũ', N'0983251879', N'Thừa Thiên Huế')
GO
INSERT [dbo].[XeChoThue] ([BienSoXe], [LoaiXe], [HangSanXuat], [SoChoNgoi]) VALUES (N'43A10529', N'Weloz Cross', N'Toyota', 7)
INSERT [dbo].[XeChoThue] ([BienSoXe], [LoaiXe], [HangSanXuat], [SoChoNgoi]) VALUES (N'43A40321', N'Xpander', N'Mitsubishi', 7)
INSERT [dbo].[XeChoThue] ([BienSoXe], [LoaiXe], [HangSanXuat], [SoChoNgoi]) VALUES (N'43C20735', N'Hilux', N'Toyota', 5)
GO
ALTER TABLE [dbo].[HopDongThueXe]  WITH CHECK ADD  CONSTRAINT [FK_HopDongThueXe_KhachThueXe] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachThueXe] ([MaKhach])
GO
ALTER TABLE [dbo].[HopDongThueXe] CHECK CONSTRAINT [FK_HopDongThueXe_KhachThueXe]
GO
ALTER TABLE [dbo].[HopDongThueXe]  WITH CHECK ADD  CONSTRAINT [FK_HopDongThueXe_XeChoThue] FOREIGN KEY([BienSoXe])
REFERENCES [dbo].[XeChoThue] ([BienSoXe])
GO
ALTER TABLE [dbo].[HopDongThueXe] CHECK CONSTRAINT [FK_HopDongThueXe_XeChoThue]
GO
-- Cau 3
--Hãy Cho bt Biển số xe, loại xe, ngày thuê xe và số tiền thuê xe của những xe mà khcsh hàng có họ tên Lưu Thi THi đã thuê
SELECT XeChoThue.BienSoXe, LoaiXe, NgayThueXe, SoTienThueXe
FROM HopDongThueXe INNER JOIN KhachThueXe ON HopDongThueXe.MaKhach = KhachThueXe.MaKhach
					INNER JOIN XeChoThue ON HopDongThueXe.BienSoXe = XeChoThue.BienSoXe
WHERE HoTen Like N'Lưu Thi Thi'

--hãy cho bt họ tên, sdt, và tỉnh của những khách hàng có số di động kết thúc bằng số 2 hoặc dố 9 và có hợp đồng thuê xe và có hợp đồng thuê xe trg khoảng thời gian từ tháng 1 đến tháng 3 năm 2024
SELECT DISTINCT HoTen, DiDong, Tinh
from KhachThueXe INNER JOIN HopDongThueXe on KhachThueXe.MaKhach = HopDongThueXe.MaKhach
where DiDong like '%[29]'
		AND YEAR(NgayThueXe) = 2024
  AND MONTH(NgayThueXe) BETWEEN 1 AND 3
--Hiển thị biển số xe, loại xe, số chỗ ngồi, số lượt thuê, và tổng tiền thuê của từng xe
SELECT h.BienSoXe, LoaiXe, SoChoNgoi,COUNT(h.BienSoXe) AS SOLUOTTHUE, SUM(SoTienThueXe) AS TONGTIEN
FROM XeChoThue AS x INNER JOIN HopDongThueXe AS h ON x.BienSoXe=h.BienSoXe
GROUP BY h.BienSoXe, LoaiXe, SoChoNgoi
--Hiển thị biển số xe, loại xe, số chỗ ngồi, số lượt thuê, và tổng tiền thuê của từng xe(yêu cầu số liệu thống kê phải hiển thị đầy đủ tất cả các xe hiện có)
SELECT x.BienSoXe, LoaiXe, SoChoNgoi,COUNT(h.BienSoXe) AS SOLUOTTHUE, SUM(SoTienThueXe) AS TONGTIEN
FROM XeChoThue AS x LEFT JOIN HopDongThueXe AS h ON x.BienSoXe=h.BienSoXe
GROUP BY x.BienSoXe, LoaiXe, SoChoNgoi
--Hiển thị biển số xe, loại xe, số chỗ ngồi, số lượt thuê, và tổng tiền thuê trg tháng 4 năm 2024 cảu từng xe(yêu cầu số liệu thống kê phải hiển thị đầy đủ tất cả các xe hiện có)
SELECT x.BienSoXe, LoaiXe, SoChoNgoi,COUNT(h.BienSoXe) AS SOLUOTTHUE, COALESCE(SUM(SoTienThueXe), 0) AS TONGTIEN
FROM XeChoThue AS x LEFT JOIN HopDongThueXe AS h ON x.BienSoXe=h.BienSoXe
WHERE MONTH(NgayThueXe)=4 AND YEAR(NgayThueXe)=2024
GROUP BY x.BienSoXe, LoaiXe, SoChoNgoi
--hiển thị biển số xe, loại xe chưa từng có hợp đòng thuê xe
SELECT BienSoXe,LoaiXe
FROM XeChoThue
WHERE BienSoXe NOT IN(SELECT DISTINCT BienSoXe
				  FROM HopDongThueXe)
--cho bt thông tin của các xe mà ko có hợp đồng thuê xe trg tháng 4
SELECT BienSoXe,LoaiXe
FROM XeChoThue
WHERE BienSoXe NOT IN(SELECT DISTINCT BienSoXe
						FROM HopDongThueXe
						WHERE NgayThueXe BETWEEN '2024-04-01' AND '2024-04-30')
--hãy cho bt biển số xe, loại xe và tổng só tièn thuê xe của những xe có tổng só tiên thuê xe nhiều nhất
SELECT x.BienSoXe, LoaiXe, SUM(SoTienThueXe) AS TONGTIEN
FROM XeChoThue AS x INNER JOIN HopDongThueXe AS h ON x.BienSoXe=h.BienSoXe
GROUP BY x.BienSoXe, LoaiXe
HAVING SUM(SoTienThueXe)>=ALL(SELECT SUM(SoTienThueXe) AS TONGTIEN
								FROM XeChoThue AS x INNER JOIN HopDongThueXe AS h ON x.BienSoXe=h.BienSoXe
								GROUP BY x.BienSoXe, LoaiXe)
--hãy cho bt biển số xe, loại xe của nHững xe có cùng số chỗ ngồi và cùng hãng sản xuất vs biển số xe có biển số 75A15120
SELECT x2.BienSoXe, x2.LoaiXe
FROM XeChoThue AS x1 JOIN XeChoThue AS x2 ON x1.HangSanXuat=x2.HangSanXuat AND x1.SoChoNgoi=x2.SoChoNgoi
WHERE x1.BienSoXe='75A15120' AND x2.BienSoXe<>'75A15120'