USE [master]
GO
/****** Object:  Database [BaiThi_23T1020279]    Script Date: 8/27/2025 9:13:53 PM ******/
CREATE DATABASE [BaiThi_23T1020279]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaiThi_23T1020279', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaiThi_23T1020279.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaiThi_23T1020279_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaiThi_23T1020279_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaiThi_23T1020279].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaiThi_23T1020279]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 8/27/2025 9:13:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaCongViec] [nvarchar](50) NOT NULL,
	[TenCongViec] [nvarchar](255) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MaCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 8/27/2025 9:13:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiDong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongThucHien]    Script Date: 8/27/2025 9:13:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongThucHien](
	[MaCongViec] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[SoGioThucHien] [int] NOT NULL,
 CONSTRAINT [PK_PhanCongThucHien] PRIMARY KEY CLUSTERED 
(
	[MaCongViec] ASC,
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CongViec] ([MaCongViec], [TenCongViec], [NgayBatDau]) VALUES (N'CV01', N'Phân tích thiết kế', CAST(N'2023-01-01' AS Date))
INSERT [dbo].[CongViec] ([MaCongViec], [TenCongViec], [NgayBatDau]) VALUES (N'CV02', N'Thiết kế CSDL', CAST(N'2023-02-01' AS Date))
INSERT [dbo].[CongViec] ([MaCongViec], [TenCongViec], [NgayBatDau]) VALUES (N'CV03', N'Lập trình', CAST(N'2023-02-15' AS Date))
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [DiDong]) VALUES (N'NV01', N'Nguyễn Văn Hùng', N'Nam', N'0914000986')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [DiDong]) VALUES (N'NV02', N'Lê Hữu Toàn', N'Nam', N'0914222974')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [DiDong]) VALUES (N'NV03', N'Nguyễn Thị Hoa', N'Nữ', N'0914054116')
GO
INSERT [dbo].[PhanCongThucHien] ([MaCongViec], [MaNhanVien], [SoGioThucHien]) VALUES (N'CV01', N'NV04', 100)
INSERT [dbo].[PhanCongThucHien] ([MaCongViec], [MaNhanVien], [SoGioThucHien]) VALUES (N'CV01', N'NV05', 50)
INSERT [dbo].[PhanCongThucHien] ([MaCongViec], [MaNhanVien], [SoGioThucHien]) VALUES (N'CV02', N'NV01', 80)
GO
ALTER TABLE [dbo].[PhanCongThucHien]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongThucHien_CongViec] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CongViec] ([MaCongViec])
GO
ALTER TABLE [dbo].[PhanCongThucHien] CHECK CONSTRAINT [FK_PhanCongThucHien_CongViec]
GO
ALTER TABLE [dbo].[PhanCongThucHien]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongThucHien_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhanCongThucHien] CHECK CONSTRAINT [FK_PhanCongThucHien_NhanVien]
GO
USE [master]
GO


--Câu 3
SELECT *
FROM NhanVien
WHERE HoTen LIKE N'Nguyễn%' AND DiDong LIKE N'%6'
--Câu 4
SELECT *
FROM CongViec
WHERE MONTH(NgayBatDau)=2 AND YEAR (NgayBatDau)=2023
--Câu 5
SELECT *
FROM CongViec
WHERE NgayBatDau BETWEEN '2023-01-01' AND '2023-04-30'
ORDER BY NgayBatDau DESC
--Câu 6
SELECT n.MaNhanVien, n.HoTen, n.DiDong, p.SoGioThucHien
FROM NhanVien AS n INNER JOIN PhanCongThucHien AS p ON n.MaNhanVien = p.MaNhanVien
					INNER JOIN CongViec AS c ON p.MaCongViec = c.MaCongViec 
WHERE c.TenCongViec = N'Lập trình'
--Câu 7
SELECT GioiTinh, COUNT(DiDong) AS SoLuong 
FROM NhanVien
WHERE DiDong LIKE N'091%'
GROUP BY GioiTinh
--Câu 8
SELECT n.MaNhanVien, n.HoTen, n.DiDong, ISNULL(SUM(p.SoGioThucHien), 0) AS TongGio 
FROM NhanVien AS n LEFT JOIN PhanCongThucHien AS p ON n.MaNhanVien = p.MaNhanVien
GROUP BY n.MaNhanVien, n.HoTen, n.DiDong
--Câu 9 
SELECT MaNhanVien, HoTen, DiDong
FROM NhanVien
WHERE MaNhanVien NOT IN (SELECT MaNhanVien
						FROM PhanCongThucHien
						WHERE MaCongViec = N'CV01')
--Câu 10
SELECT n.MaNhanVien, n.HoTen, SUM(p.SoGioThucHien) AS Tonggio
FROM NhanVien AS n INNER JOIN PhanCongThucHien AS p ON n.MaNhanVien = p.MaNhanVien
GROUP BY n.MaNhanVien, n.HoTen
HAVING SUM(p.SoGioThucHien) >= ALL(SELECT SUM(SoGioThucHien)
									FROM PhanCongThucHien
									GROUP BY MaNhanVien)
--Câu 11
UPDATE p
SET p.SoGioThucHien=p.SoGioThucHien*2
FROM CongViec AS c JOIN PhanCongThucHien p ON c.MaCongViec = p.MaCongViec
WHERE c.TenCongViec = N'Lập trình'