USE [master]
GO
/****** Object:  Database [BaiThi_23T1020279]    Script Date: 8/21/2025 9:53:38 PM ******/
CREATE DATABASE [BaiThi_23T1020279]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaiThi_23T1020279', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaiThi_23T1020279.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaiThi_23T1020279_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaiThi_23T1020279_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaiThi_23T1020279].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaiThi_23T1020279]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 8/21/2025 9:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBaiViet] [nvarchar](10) NOT NULL,
	[MaChuDe] [nvarchar](10) NOT NULL,
	[TenBaiViet] [nvarchar](255) NOT NULL,
	[NgayGui] [date] NOT NULL,
	[TenCTV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BaiViet] PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 8/21/2025 9:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[MaChuDe] [nvarchar](10) NOT NULL,
	[TenChuDe] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[MaChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhuanBut]    Script Date: 8/21/2025 9:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhuanBut](
	[MaBaiViet] [nvarchar](10) NOT NULL,
	[TienNhuanBut] [money] NOT NULL,
	[TienThem] [money] NOT NULL,
 CONSTRAINT [PK_NhuanBut] PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BaiViet] ([MaBaiViet], [MaChuDe], [TenBaiViet], [NgayGui], [TenCTV]) VALUES (N'GD2023', N'GD', N'Định hướng việc làm cho sinh viên ra trường', CAST(N'2023-05-19' AS Date), N'Nguyễn Hoàng Long')
INSERT [dbo].[BaiViet] ([MaBaiViet], [MaChuDe], [TenBaiViet], [NgayGui], [TenCTV]) VALUES (N'GT2022', N'GT', N'Đội bóng đá nam Việt Nam dành huy chương vàng Seagame 2022', CAST(N'2022-12-24' AS Date), N'Lê Văn Hòa')
INSERT [dbo].[BaiViet] ([MaBaiViet], [MaChuDe], [TenBaiViet], [NgayGui], [TenCTV]) VALUES (N'HAT2023', N'GT', N'Đội bóng đá nam Khoa Du Lịch dành huy chương vàng', CAST(N'2023-03-26' AS Date), N'Nguyễn Thị Thúy Vân')
GO
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'GD', N'Giáo dục')
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'GT', N'Giải trí')
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'HS', N'Hình sự')
GO
INSERT [dbo].[NhuanBut] ([MaBaiViet], [TienNhuanBut], [TienThem]) VALUES (N'GD2023', 500.0000, 0.0000)
INSERT [dbo].[NhuanBut] ([MaBaiViet], [TienNhuanBut], [TienThem]) VALUES (N'GT2022', 1200.0000, 0.0000)
INSERT [dbo].[NhuanBut] ([MaBaiViet], [TienNhuanBut], [TienThem]) VALUES (N'HAT2023', 600.0000, 300.0000)
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_ChuDe] FOREIGN KEY([MaChuDe])
REFERENCES [dbo].[ChuDe] ([MaChuDe])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_ChuDe]
GO
ALTER TABLE [dbo].[NhuanBut]  WITH CHECK ADD  CONSTRAINT [FK_NhuanBut_BaiViet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
GO
ALTER TABLE [dbo].[NhuanBut] CHECK CONSTRAINT [FK_NhuanBut_BaiViet]
GO
USE [master]
GO

--Câu3
SELECT MaBaiViet, TenBaiViet, NgayGui, TenCTV
FROM BaiViet
WHERE MONTH(NgayGui) BETWEEN 3 AND 9
--Câu4
SELECT Top 2 MaBaiViet, TenBaiViet, NgayGui, TenCTV
FROM BaiViet
WHERE TenCTV LIKE N'Nguyễn%'
ORDER BY NgayGui DESC 
--Câu5
SELECT MaBaiViet, TenBaiViet, NgayGui, TenCTV
FROM BaiViet
WHERE TenBaiViet LIKE N'%tuyển sinh%' OR YEAR(NgayGui)>2022
--Câu6
SELECT MaBaiViet, TenBaiViet, NgayGui, TenCTV
FROM BaiViet
WHERE (TenCTV NOT LIKE N'Lê' AND TenCTV NOT LIKE N'Nguyễn') OR MONTH(NgayGui) BETWEEN 10 AND 12
--Câu7
SELECT TenCTV, COUNT(*) AS TongSoBaiViet
FROM BaiViet
WHERE YEAR(NgayGui)=2022
GROUP BY TenCTV
--Câu8
SELECT c.MaChuDe, c.TenChuDe, COUNT(b.MaChuDe) AS TongSoBaiViet
FROM ChuDe AS c LEFT JOIN BaiViet AS b ON c.MaChuDe=b.MaChuDe
GROUP BY c.MaChuDe, c.TenChuDe
--Câu9
SELECT MaBaiViet, TenBaiViet, NgayGui, TenCTV
FROM BaiViet
WHERE MaChuDe = (SELECT MaChuDe
				 FROM BaiViet
				 WHERE MaBaiViet = 'GD2023')
--Câu10
SELECT b.TenCTV, SUM(n.TienNhuanBut + n.TienThem) AS TongTien
FROM BaiViet AS b INNER JOIN NhuanBut AS n ON b.MaBaiViet=n.MaBaiViet
GROUP BY b.TenCTV
ORDER BY TongTien DESC
--Câu11
UPDATE nb
SET nb.TienThem = nb.TienThem + nb.TienNhuanBut * 0.5
FROM NhuanBut AS nb JOIN BaiViet AS bv ON nb.MaBaiViet = bv.MaBaiViet
WHERE bv.TenCTV = N'Lê Văn Hòa'