USE [master]
GO
/****** Object:  Database [BaiThi_23T1020279]    Script Date: 8/19/2025 2:59:43 PM ******/
CREATE DATABASE [BaiThi_23T1020279]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaiThi_23T1020279', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaiThi_23T1020279.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaiThi_23T1020279_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaiThi_23T1020279_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaiThi_23T1020279].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaiThi_23T1020279]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuatVatTu]    Script Date: 8/19/2025 2:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuatVatTu](
	[SoPhieu] [nvarchar](50) NOT NULL,
	[MaVatTu] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuXuatVatTu] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC,
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatVatTu]    Script Date: 8/19/2025 2:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatVatTu](
	[SoPhieu] [nvarchar](50) NOT NULL,
	[NgaylapPhieu] [date] NOT NULL,
	[NguoiLapPhieu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuXuatVatTu] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 8/19/2025 2:59:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[MaVatTu] [nvarchar](50) NOT NULL,
	[TenVatTu] [nvarchar](255) NOT NULL,
	[NuocSanXuat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietPhieuXuatVatTu] ([SoPhieu], [MaVatTu], [SoLuong]) VALUES (N'P001', N'VT001', 10)
INSERT [dbo].[ChiTietPhieuXuatVatTu] ([SoPhieu], [MaVatTu], [SoLuong]) VALUES (N'P001', N'VT002', 20)
INSERT [dbo].[ChiTietPhieuXuatVatTu] ([SoPhieu], [MaVatTu], [SoLuong]) VALUES (N'P002', N'VT003', 15)
GO
INSERT [dbo].[PhieuXuatVatTu] ([SoPhieu], [NgaylapPhieu], [NguoiLapPhieu]) VALUES (N'P001', CAST(N'2023-05-01' AS Date), N'Trần Thanh Hải')
INSERT [dbo].[PhieuXuatVatTu] ([SoPhieu], [NgaylapPhieu], [NguoiLapPhieu]) VALUES (N'P002', CAST(N'2023-05-12' AS Date), N'Nguyễn Tuấn Anh')
INSERT [dbo].[PhieuXuatVatTu] ([SoPhieu], [NgaylapPhieu], [NguoiLapPhieu]) VALUES (N'P003', CAST(N'2023-05-15' AS Date), N'Trần Thanh Hải')
GO
INSERT [dbo].[VatTu] ([MaVatTu], [TenVatTu], [NuocSanXuat]) VALUES (N'VT001', N'Dây cáp đồng', N'Việt nam')
INSERT [dbo].[VatTu] ([MaVatTu], [TenVatTu], [NuocSanXuat]) VALUES (N'VT002', N'Ổ cấm điện', N'Nhật')
INSERT [dbo].[VatTu] ([MaVatTu], [TenVatTu], [NuocSanXuat]) VALUES (N'VT003', N'Bóng đèn Led 50W', N'Việt Nam')
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatVatTu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuatVatTu_PhieuXuatVatTu] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PhieuXuatVatTu] ([SoPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatVatTu] CHECK CONSTRAINT [FK_ChiTietPhieuXuatVatTu_PhieuXuatVatTu]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatVatTu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuatVatTu_VatTu] FOREIGN KEY([MaVatTu])
REFERENCES [dbo].[VatTu] ([MaVatTu])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatVatTu] CHECK CONSTRAINT [FK_ChiTietPhieuXuatVatTu_VatTu]
GO
USE [master]
GO

--Câu 3
SELECT *
FROM VatTu
WHERE TenVatTu LIKE N'Bóng đèn%' AND NuocSanXuat=N'Việt Nam'
--Câu 4
SELECT p.SoPhieu, p.NguoiLapPhieu, v.MaVatTu, v.TenVatTu, v.NuocSanXuat, c.SoLuong
FROM VatTu AS v INNER JOIN ChiTietPhieuXuatVatTu AS c ON v.MaVatTu = c.MaVatTu
				INNER JOIN PhieuXuatVatTu AS p ON c.SoPhieu = p.SoPhieu
WHERE NgayLapPhieu BETWEEN '2023-05-01' AND '2023-05-15'
--Câu 7
SELECT NguoiLapPhieu, COUNT(*) AS SoLuongPhieuXuat
FROM PhieuXuatVatTu
WHERE NgayLapPhieu BETWEEN '2023-05-01' AND '2023-05-31'
GROUP BY NguoiLapPhieu
--Câu 8
SELECT v.MaVatTu, v.TenVatTu, ISNULL(SUM(c.SoLuong),0) AS TongSoLuongXuat
FROM VatTu AS v LEFT JOIN ChitietPhieuXuatVatTu AS c ON v.MaVatTu = c.MaVatTu
GROUP BY v.MaVatTu, v.TenVatTu
--Câu 9 
SELECT v.MaVatTu, v.TenVatTu, SUM(SoLuong)
FROM VatTu AS v INNER JOIN ChitietPhieuXuatVatTu AS c ON v.MaVatTu = c.MaVatTu
GROUP BY v.MaVatTu, v.TenVatTu
HAVING SUM(SoLuong) >=ALL(SELECT SUM(SoLuong)
							FROM VatTu AS v INNER JOIN ChitietPhieuXuatVatTu AS c ON v.MaVatTu = c.MaVatTu
							GROUP BY v.MaVatTu, v.TenVatTu)
--Câu10
SELECT v.MaVatTu, v.TenVatTu, ISNULL(SUM(c.SoLuong),0) AS TongSoLuongXuat
FROM VatTu AS v LEFT JOIN ChitietPhieuXuatVatTu AS c ON v.MaVatTu = c.MaVatTu
				LEFT JOIN PhieuXuatVatTu AS p ON c.SoPhieu = p.SoPhieu
				AND NgayLapPhieu = '2023-05-15'
GROUP BY v.MaVatTu, v.TenVatTu
